body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 600px;
  margin: 20px auto;
}

.todo-container {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  border: 1px solid gray;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.todo-container ul li {
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
}

.todo-container ul div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container ul span {
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(132, 132, 254);
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

button:hover {
  color: white;
  background-color: dodgerblue;
}

.done {
  text-decoration: line-through;
}
